<mat-toolbar color="primary">
    <mat-toolbar-row style="display: flex; flex-direction: row; justify-content: space-between;">
      <span class="large-font">Gestios de pedidos</span>
      <div style="display: flex; gap: 10px;">
        <button mat-button routerLink="/clientlist">Cliente</button>
        <button mat-button routerLink="/orderlist">Pedidos</button>
        <button mat-button routerLink="/productlist">Productos</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
 
  <div class="app-description">
    <p>La aplicación de gestión de pedidos es una plataforma que permite a los usuarios:</p>
  
    <ul>
      <li><strong>Clientes:</strong> Registrar nuevos clientes, ver detalles de clientes existentes, actualizar la información de los clientes y eliminar clientes si es necesario.</li>
    
      <li><strong>Productos:</strong> Agregar nuevos productos al inventario, ver detalles de productos existentes, actualizar la información de los productos y eliminar productos si es necesario.</li>
    
      <li><strong>Pedidos:</strong> Crear nuevos pedidos, ver detalles de pedidos existentes y eliminar pedidos si es necesario.</li>
    </ul>
  </div>
