<h2 class="mb-5">Nuevo Producto</h2>

<div class="row row-cols-3 justify-content-center">
<form [formGroup]="form" (ngSubmit)="create()">
    <div class="mb-3">
        <label for="name">Nombre</label>
        <input id="name" type="text" placeholder="Nombre" class="form-control"
        formControlName="name">
    </div>
    <div class="mb-3">
        <label for="category">Categoria</label>
        <input id="category" type="text" placeholder="Categoria" class="form-control"
        formControlName="category">
    </div>
    <div class="mb-3">
        <label for="stock">Stock</label>
        <input id="stock" type="text" placeholder="Stock" class="form-control"
        formControlName="stock">
    </div>
    <div class="mb-3">
        <label for="cost">Costo</label>
        <input id="cost" type="text" placeholder="Costo" class="form-control"
        formControlName="cost">
    </div>
    <div style="display: flex; gap: 10px;" class="text-end">
        <button type="button" class="btn btn-primary" routerLink="/">
            Cancelar
        </button>
        <button class="btn btn-danger">
            Crear Producto
        </button>
    </div>
</form>
</div>